.bannerImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner-main {
    position: relative;
    background-color: #f8f9fa;
}

.p-4 {
    padding: 1.5rem;
}

.text-center {
    text-align: center;
}

.custom-icon {
    background-color: black;
    border-radius: 50%;
    font-size: 25px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.bannerrow:hover .custom-icon {
    opacity: 1;
    visibility: visible;
}

.banner-btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.banner-btn:hover {
    background-color: #333;
    color: #fff;
}